<!doctype html>
<html lang="en">

<head>
        <% include partials/header.ejs %>
</head>

<body>
    <div class="<%= classname %>">
    <div class="container">
        <h1>Hello, world!</h1>
    </div>
</div>
    <% include partials/footer.ejs %>
        <% include partials/defaultjs.ejs %>
</body>

</html>