<div *ngIf="show_errors === true && error_type === 'object'" class="alert alert-danger">
  <ul *ngFor="let error of error_list">
    <li>{{error.msg}}</li>
  </ul>
</div>
<!-- {{ typeof error_list}} -->
<div *ngIf="show_errors === true && error_type === 'string'" class="alert alert-danger">
  {{error_list}}
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    {{ title }}
  </div>
  <div class="panel-body">
    <form [formGroup]="angForm" (ngSubmit)="addUser(angForm)">
      <div>
        <div class="form-group">
          <label class="col-md-4">First Name</label>
          <input type="text" [(ngModel)]="userdata.first_name" class="form-control" formControlName="first_name" />

          <div *ngIf="angForm.controls['first_name'].touched && !angForm.controls['first_name'].valid" class="error_message">
            <span *ngIf="angForm.controls['first_name'].hasError('required') ">
              First name is required.
            </span>
            <span *ngIf="angForm.controls['first_name'].hasError('minlength') ">
              Min length is 4.
            </span>
            <span *ngIf="angForm.controls['first_name'].hasError('maxlength') ">
              max length is 10.
            </span>
          </div>
        </div>
      </div>
      <div>
        <div class="form-group">
          <label class="col-md-4">Last Name</label>
          <input type="text" [(ngModel)]="userdata.last_name" class="form-control" formControlName="last_name" />

          <div *ngIf="angForm.controls['last_name'].touched && !angForm.controls['last_name'].valid" class="error_message">
            <span *ngIf="angForm.controls['last_name'].hasError('required') ">
              Last name is required.
            </span>
            <span *ngIf="angForm.controls['last_name'].hasError('minlength') ">
              Min length is 4.
            </span>
            <span *ngIf="angForm.controls['last_name'].hasError('maxlength') ">
              max length is 10.
            </span>
          </div>
        </div>
      </div>
      <div>
        <div class="form-group">
          <label class="col-md-4">DOB</label>
          <input type="text" [(ngModel)]="userdata.dob" class="form-control" formControlName="dob" />

          <div *ngIf="angForm.controls['dob'].touched && !angForm.controls['dob'].valid" class="error_message">
            <span *ngIf="angForm.controls['dob'].hasError('required') ">
              DOB is required.
            </span>
          </div>
        </div>
      </div>
      <div>
        <div class="form-group">
          <label class="col-md-4">Email</label>
          <input type="text" [(ngModel)]="userdata.email" class="form-control" formControlName="email" />

          <div *ngIf="angForm.controls['email'].touched && !angForm.controls['email'].valid " class="error_message">
            <span *ngIf="angForm.controls['email'].hasError('required') ">
              Email ID is required.
            </span>
            <span *ngIf="angForm.controls['email'].hasError('email') ">
              Enter Proper Email ID.
            </span>
          </div>
        </div>
      </div>
      <div>
        <div class="form-group">
          <label class="col-md-4">Phone Number</label>
          <input type="text" [(ngModel)]="userdata.phone_number" class="form-control" formControlName="phone_number" />

          <div *ngIf="angForm.controls['phone_number'].touched && !angForm.controls['phone_number'].valid" class="error_message">
            <span *ngIf="angForm.controls['phone_number'].hasError('required') ">
              Phone Number is required.
            </span>
            <span *ngIf="angForm.controls['phone_number'].hasError('minlength') ">
              Min length is 10.
            </span>
            <span *ngIf="angForm.controls['phone_number'].hasError('maxlength') ">
              max length is 12.
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" [disabled]="angForm.pristine || angForm.invalid">Add</button>        
      </div>
    </form>
  </div>
</div>